<%= form_with(model: player) do |f| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
    <%= f.label:Name%>
    <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label:Age%>
      <%= f.number_field :age, size: "5" %>
    </p>
    <p>
      <%= f.label:Position%>
      <%= f.text_field :position %>
    </p>
    
    <p>
      <%= f.label:Team_id%>
      <%= f.text_field :team_id %>
    </p>
    <p>
    <%= f.label:role%>
    <%= f.select :country, options_for_select(['allrounder','bowler','batsman']), prompt: 'Select Role' %>
    </p>

    <div class="field">
    <%= f.label :is_captain %>
    <%= f.label :is_captain, "Yes", value: "true"  %>
    <%= f.radio_button :is_captain, true %>
    <%= f.label :is_captain, "No", value: "false" %>
    <%= f.radio_button :is_captain, false, checked: true %>
  </div>

  <div class="field">
  <%= f.label :is_active %>
  <%= f.label :is_active, "Yes", value: "true"  %>
  <%= f.radio_button :is_active, true %>
  <%= f.label :is_active, "No", value: "false" %>
  <%= f.radio_button :is_active, false, checked: true %>
</div>
   
  <%= f.label:description %>
  <%= f.text_area :description %>
  </p>
    <%= f.submit %>
  </div>
<% end %>
