<p style="color: green"><%= notice %></p>

<h1 class="text-center">Players</h1>


<p class= "text-center">
<%= link_to "New player", new_player_path %>
</p>

<table class="table table-bordered border-primary">
     <thead class="table-dark">
     <tr>
       <th>Name</th>
       <th>Age</th>
       <th>Position</th>
       <th>Team_id</th>
       <th>Role</th>
       <th>Captain</th>
       <th>Active</th>
       <th>Description</th>
       <th colspan="3" class="text-center">Action</th>
     </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
      <tr>
      <td><%= player.name %></td>
      <td><%= player.age %></td>
      <td><%= player.position %></td>
      <td><%= player.team_id %></td>
      <td><%= player.role %></td>
      <td><%= player.is_captain %></td>
      <td><%= player.is_active %></td>
      <td><%= player.description %></td>

      <td><%= link_to 'Show' , player_path(player), class: "btn btn-outline-success" %></td>
      <td><%= link_to 'Edit' , edit_player_path(player), class: "btn btn-outline-info" %></td>
      <td><%= button_to 'Delete', player_path(player), class: "btn btn-outline-danger", method: :delete, onclick: "return confirm('Are you sure?');" %></td>
      </tr>
      <% end %>
    </tbody>
</table>