<!DOCTYPE html>
<html>
  <head>
    <title>T20Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
     <%= render 'layouts/messages' %>
     <%= render 'layouts/navigations' %>
     <%= render 'layouts/footer' %>
       <% if person_signed_in? %>
  <p>
    Logged in as <%= current_person.email %> |
    <%= link_to 'Edit profile', edit_person_registration_path %> |
    <%= link_to 'Logout', destroy_person_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to 'Sign up', new_person_registration_path %> |
    <%= link_to 'Login', new_person_session_path %>
  </p>
<% end %>

    <%= yield %>
  </body>
</html>

